name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: "5 5 * * 1"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "images/**"
      - "!**.md"
  pull_request:
    paths:
      - ".github/workflows/ci.yml"
      - "images/**"
      - "!**.md"

jobs:
  build_matrix:
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions: {}
    outputs:
      dirs: ${{ steps.build_matrix.outputs.dirs }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 2
          ref: main
      - name: Get target dirs
        id: build_matrix
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          if [[ "${{ github.event_name == 'pull_request' }}" = "true" ]]; then
            gh pr checkout "$(jq -r '.pull_request.number' "${GITHUB_EVENT_PATH}")"
            mapfile -t DIRS < <(git diff --name-only main ./images | xargs dirname | sort | uniq)
            if [[ ${#DIRS[@]} -eq 0 ]]; then
              JSON="[]"
            else
              JSON=$(jq -n -c '$ARGS.positional' --args "${DIRS[@]}")
            fi
          else
            mapfile -t DIRS < <(find . -type f -name "Dockerfile" -exec dirname {} \; | sort | uniq)
            JSON=$(jq -n -c '$ARGS.positional' --args "${DIRS[@]}")
          fi
          echo "dirs=${JSON}" | tee -a "${GITHUB_OUTPUT}"

  build_and_push:
    needs: build_matrix
    if: needs.build_matrix.outputs.dirs != '[]'
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      actions: write
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.build_matrix.outputs.dirs) }}
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: peaceiris/actions-export-envs@v1.1.0
        id: envs

      - name: Build with cache
        run: make build
        if: github.event_name == 'pull_request'
        env:
          ACTIONS_RUNTIME_TOKEN: ${{ steps.envs.outputs.ACTIONS_RUNTIME_TOKEN }}
          ACTIONS_CACHE_URL: ${{ steps.envs.outputs.ACTIONS_CACHE_URL }}

      - run: make login
        if: github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build without cache
        run: make build
        if: github.event_name != 'pull_request'
        env:
          DOCKER_MULTI_PLATFORM: true
